@page
@model Mission09_dallinb9.Pages.PurchaseConfirmationModel
@{
}

<div class="text-center">
    <h2>Thank you, your purchase has been confirmed</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
